<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="{{ asset('js/ajax.googleapis.com_ajax_libs_angularjs_1.8.2_angular.min.js') }}"></script>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
<header>
    <h1><a href="{{ path('app_homepage') }}">Guest-Book</a></h1>
    <ul>
        {% for conference in conferences %}
            <li><a href="{{ path('app_conference', {slug : conference.slug }) }}">{{ conference }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
</header>
{% block body %}{% endblock %}
</body>
</html>
