{% extends 'base.html.twig' %}
{% block title %}Conference Guestbook - {{ conference }}{% endblock %}
{% block body %}
    <h2>{{ conference }} Conference</h2>
    {% if comments|length > 0 %}
        <div>There are {{ comments|length }} comments.</div>
        <div ng-app="ngApp">
            {% for comment in comments %}
                {% if comment.photo %}
                    <div class="circular" back-img="{{ asset('uploads/photos/' ~ comment.photo ) }}"></div>
                {% endif %}
                <h4>{{ comment.author }}</h4>
                <small>
                    {{ comment.createdAt | format_datetime('medium', 'short') }}
                </small>
                <p>{{ comment.text }}</p>
            {% endfor %}
        </div>
        {% if previous >= 0 %}
            <a href="{{ path('app_conference', {slug: conference.slug, offset: previous}) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('app_conference', {slug: conference.slug, offset: next}) }}">Next</a>
        {% endif %}
    {% else %}
        <div> No comments have been yet for this conference</div>
    {% endif %}

    <h2>Add your own feedback!</h2>
    {{ form(comment_form) }}
    <script src="{{ asset('js/AngularJs/app.js') }}"></script>
{% endblock %}
